.left-bar-side{
    float: left;
    height: 100px;
    width: 100px;
    background-color: rgb(255,235,255);

}
header{
    height: 100px;
    background-color: rgb(230,255,255);
}
footer{
    height: 100px;
    background-color: rgb(230,255,255);
}

.content{
    background-color: rgb(255,200,200);
}

